<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Surname</Data></Cell>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">EMAIL</Data></Cell>
        <Cell><Data ss:Type="String">PHONE</Data></Cell>
        <Cell><Data ss:Type="String">HEART RATE</Data></Cell>
        <Cell><Data ss:Type="String">BLOOD GAS TEST</Data></Cell>
      </Row>
    <% @users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.surname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.id_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.phone %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.resting_heart_rate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.blood_gas_test %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

