
<div class="form">
  <div class="container">
    <div class="row">
      <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-box">
              <h1>Sign up</h1>
              <label>Name</label>
              <%= f.text_field :name, placeholder: "Name" %>
              <label>Surname</label>
              <%= f.text_field :surname, placeholder: "Surname" %>
              <label>ID Number</label>
              <%= f.text_field :id_number, placeholder: "ID Number" %>
              <label>Email</label>
              <%= f.text_field :email, placeholder: "Email" %>
              <label>Phone</label>
              <%= f.text_field :phone, placeholder: "Phone" %>
              <label>Resting Heart Rate</label>
              <%= f.number_field :resting_heart_rate %>
              <br>

              <%= f.submit "Save", :class=> "button"%>
              <%= link_to "Back", admin_path %>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>