
<div class="text-center" style="height: 100%; bottom:0;">
<div class="banner"style="background-color: aqua; height: 400px;">
</div>

<div class="about" style="height: 400px;">
    <h1>About</h1>
    <p><%= @about%></p>
</div>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="sign-up-form" style="position: absolute; width:360px; background-color: #FFF; border:solid; border-width: 1px; margin-top:-100px;margin-left:700px; padding: 50px;">
        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :surname %><br />
            <%= f.text_field :surname %>
        </div>
        <div class="field">
            <%= f.label :id_number %><br />
            <%= f.text_field :id_number %>
        </div>
        <div class="field">
            <%= f.label :email %><br />
            <%= f.text_field :email %>
        </div>
        <div class="field">
            <%= f.label :phone %><br />
            <%= f.text_field :phone %>
        </div>
        <div class="field">
            <%= f.label :resting_heart_rate %><br />
            <%= f.number_field :resting_heart_rate %>
        </div>
        <div class="field">
            <%= f.label :blood_gas_test %><br />
            <%= f.check_box :blood_gas_test %>
        </div>

        <div class="terms" style="height: 50px; width:80%; border:solid; border-width: 1px;">
          <h4>Terms and Conditions</h4>

          <%=@terms%>
        </div>

        <div class="field">
          <input type="checkbox" value="accept">
          <label>By ticking this box, I/we accept that I/we have read and acknowledge the above mentioned T&C's and give my consent to be part of this study.</label>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
    </div>
      <div style="z-index:1; background-color: aqua; height: 800px; ">
     </div>
   
<% end %>
 </div>