<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Chocolate Milk Study</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/application.js"></script>

</head>

<body>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Athlete Recovery</h1>
        <h3 class="text-center">Medical Research</h3>
      </div>
    </div>
  </div>
</div>

<div class="body-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>About</h1>
        <p>Now that I have your attention, I would like to remind you that in any endurance event, recovery is just as important as training and preparation. The staff in the medical tent at Ironman want to provide athletes with the best recovery fluid intervention possible. I am one of the doctors that will be working in your medical tent on the day. My name is Dr Lizanne Pieterse, and I graduated from the UFS in 2011 and became a qualified general practitioner in 2015. My love for sport medicine has always been a part of me and since 2014 have become actively involved in the medical team at the Ironman SA in Port Elizabeth.</p>
        <p>I am currently in my final year of doing my Masters in Sports Medicine at the University of Pretoria. I have always strived to do the best for my patients and am currently doing my research on ways to improve athlete management during Ironman. In my study, I will be looking at recovery intervention in the medical tent: Chocolate flavoured milk vs Water/Coke. Follow the link if you are curious to read more and would like to take part in my study. Good Luck! “Every Champion was once a contender that refused to give up” -Rocky Balboa</p>
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="container">
    <div class="row">
      <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-box">
          <h1>Sign up</h1>
            <%= f.text_field :name, placeholder: "Name" %>
            <%= f.text_field :surname, placeholder: "Surname" %>
            <%= f.text_field :id_number, placeholder: "ID Number" %>
            <%= f.text_field :email, placeholder: "Email" %>
            <%= f.text_field :phone, placeholder: "Phone" %>
            <%= f.number_field :resting_heart_rate, placeholder: "Resting Heart Rate", :style => "border: none; border-bottom: 1px solid #b7b7b7;margin-bottom: 30px;padding: 5px;" %>(bpm)
          <br><hr>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="blood_gas_test" value="true"> Blood Gas Test
          </label>
          </div>
          <div class="terms">
            <h5>Dear Patient</h5>
            <h5 class="underline">INTRODUCTION</h5>
            <p>You are <b class="underline">invited</b> to volunteer for a research study.  This information leaflet is to help you to decide if you would like to participate.  Before you agree to take part in this study you should fully understand what is involved.  If you have any questions, which are not fully explained in this leaflet, do not hesitate to ask the investigator.  You should not agree to take part unless you are completely happy about all the procedures involved.  In the best interests of your health, it is strongly recommended that you discuss with or inform your personal doctor of your possible participation in this study, wherever possible.</p>
            <h5 class="underline">WHAT IS THE PURPOSE OF THE RESEARCH TRIAL?</h5>
            <p>Improvement of medical care at ultra-endurance events is of the highest importance to both athletes and medical staff. Treating an athlete’s symptoms quickly, correctly and reducing the time of recovery spent in the medical tent is the sports practitioners’ ultimate aim. </p>
            <p>Nutrition is also of great importance to endurance athletes, especially before, during and after a race, while the timely restoration of muscle glycogen levels and muscle performance capacity shows great benefit to athletes in particular during moderate to high intensity exercise. In conjunction, chocolate milk has been well documented as a recovery and re-hydration alternative and the study sets forth to further investigate its use at ultra-endurance events.
            </p>
            <p>All registered athletes, both male and female older than 18 years, participating in the Ironman SA competition in 2018, and presenting to the main medical tent with exertional related conditions, will be approached for participation. Volunteering participants will be randomly allotted to an experimental group (receiving Steri Stumpie chocolate milk) or control group (water and Coke), given that they meet the inclusion/exclusion criteria for the study.</p>
            <p>The purpose of the study is to see which easily accessible fluid, found readily available daily to the public, is the best recovery fluid after an ultra-endurance event; which will help the athlete recover and replace essential fluids and nutrients within the first 30 minutes post cessation or completion of an ultra-endurance event.</p>
            <p>During the study, you will receive either the chocolate milk or the water and coke. This will be done randomly as you enter the medical tent. You will receive a random code number. The control group (water and coke) will be the even numbers and experimental group (chocolate milk) will be uneven numbers. Accordingly, a doctor will then assess the patient, the same as any other patient that would enter the medical tent, the only additional tests done on participants participating in the study is before fluid given blood will be drawn for a blood gas and you will be asked a few simple questions how you feel, you will then receive your fluids depending on your group and then at 15 minutes later the process will be repeated (blood gas and questions). </p>

            <h5 class="underline">WHAT IS THE DURATION OF THIS TRIAL?</h5>
            <p>The duration of the trial will be the time that you spend in the medical tent on official Ironman racing day. Minimum time will be 15 minutes because the study is looking at the initial assessments when you enter the medical tent and then 15 minutes later. Your duration spent in the tent will also be recorded. The period from when you enter the medical tent, until you leave the tent, is referred to as the trail period, and refers to the period you participate in the research study.</p>

            <h5 class="underline">WHAT IS THE DURATION OF THIS TRIAL?</h5>
            <p>The duration of the trial will be the time that you spend in the medical tent on official Ironman racing day. Minimum time will be 15 minutes because the study is looking at the initial assessments when you enter the medical tent and then 15 minutes later. Your duration spent in the tent will also be recorded. The period from when you enter the medical tent, until you leave the tent, is referred to as the trail period, and refers to the period you participate in the research study.</p>

            <h5 class="underline">DESCRIPTION OF PROCEDURES</h5>
            <ul>This study involves the following:
              <li>Providing your basic medical information: Medical conditions, medication taken or currently taking, recent illnesses, allergies, supplements used</li>
              <li>Providing race information: amount of fluids taken in and out before and during the race, Carbohydrates and or protein consumed.</li>
              <li>Consent to a basic clinical check-up: Blood pressure, pulse, glucose test, oxygen saturation, respiratory rate, hydration and level on consciousness on initial assessment.</li>
              <li>Having blood drawn for blood gas saturation. A total of 4ml of blood (i.e. less than a tablespoon) will be collected over the course of the entire study.</li>
              <li>Fill out a POMS2 Questionnaire consisting of 10 words asked and athletes describes from 0-6 how they feel e.g. (energetic 0). This is done before fluid initiation</li>
              <li>The above is then repeated after 15 minutes that the participant is in the tent.</li>
              <li>If the athlete is stable and improved the doctor in charge of the athlete will either decide to discharge the athletes or review after another 15 minutes again. </li>
              <li>The duration of time spent in the tent is also recorded.</li>
            </ul>

            <p>It is important that you let the investigator know of any medicines (both prescriptions or over-the-counter medicines), and alcohol or other substances that you are currently taking.</p>

            <h5 class="underline">HAS THE TRIAL RECEIVED ETHICAL APPROVAL?</h5>
            <p>This research Protocol was submitted to the Faculty of Health Sciences Research Ethics Committee, University of Pretoria, telephone numbers 012 3563084 / 012 3563085 and written approval has been granted by that committee.  The study has been structured in accordance with the Declaration of Helsinki (last update: October 2013), which deals with the recommendations guiding doctors in biomedical research involving human/subjects. A copy of the Declaration may be obtained from the investigator should you wish to review it.</p>

            <h5 class="underline">WHAT ARE YOUR RIGHTS AS A PARTICIPANT IN THIS TRIAL?</h5>
            <p>Your participation in this trial is entirely voluntary and you can refuse to participate or stop at any time without stating any reason.  Your withdrawal will not affect your access to other medical care.  The investigator retains the right to withdraw you from the study if it is considered to be in your best interest. If it is detected that you did not give an accurate history or did nor follow the guidelines of the trial and the regulations of the trial facility, you may be withdrawn from the trial at any time.</p>

            <h5 class="underline">IS ALTERNATIVE TREATMENT AVAILABLE?</h5>
            <p>If you do not wish to participate in the study, you will receive standard care as always in the medical tent which is Coke and or water as oral fluids. This has been the standard for years. You will receive quality medical care if you enter the medical tent, whether you participate in the study, and also if you wish to decline participation. At no point will your health be jeopardized.</p>

            <h5 class="underline">MAY ANY OF THESE TRIAL PROCEDURES RESULT IN DISCOMFORT OR INCONVENIENCE?</h5>
            <p>Venipunctures (i.e. drawing blood) is part of the participation in the study. It can sometimes present a slight risk of discomfort.  Drawing blood may result in a bruise at the puncture site, or less commonly fainting or swelling of the vein, infection and bleeding from the site.  Your protection is that the procedures are performed under sterile conditions by experienced personnel. A total of 4ml of blood (i.e. less than a tablespoon) will be collected over the course of the entire study.</p>

            <h5 class="underline">WHAT ARE THE BENEFITS TO YOU?</h5>
            <p>Chocolate milk (Sterri Stumpie) as intervention alternative carries the benefit of rehydrating whilst also replacing carbohydrates and proteins, as well as the small amounts of sugar and calcium lost during the ultra-marathon.</p>
            <p>The study intends to expedite athlete recovery after participation in ultra-endurance performance by providing the best recovery drink and fueling depleted energy stores. Reduction in the recovery time needed by athletes in the medical tent would make more beds available for concurrent medical emergencies, allowing medical staff to attend to more patients more closely and more rapidly.</p>
            <p>You would be better knowledgeable about what the best recovery oral fluid is, chocolate milk or water and coke, to take even if you don’t enter the medical tent. This drink can potentially improve your recovery (within the first 30min post event) by replacing the depleted body stores with nutrition and fluid required.</p>

            <h5 class="underline">WHAT ARE THE RISKS INVOLVED IN THIS TRIAL?</h5>
            <p>Unknown allergic reaction to chocolate milk if the athlete is not aware of any allergies. </p>

            <h5 class="underline">ARE THERE ANY WARNINGS OR RESTRICTIONS CONCERNING MY PARTICIPATION IN THIS TRIAL? EXCLUSION CRITERIA:</h5>
            <ul>Participant will be excluded from the study if they:
              <li>Are in need of direct hospitalization</li>
              <li>Present with a medical emergency</li>
              <li>Are suffering from non-exercise associated collapse e.g. blue water bottle stings, sun burn, trauma, asthma, Bronchospasm</li>
              <li>Suffer from trauma related collapsed e.g. ankle, knee, hip injuries causing collapse</li>
              <li>Present with soft tissue injury</li>
              <li>Refuse treatment</li>
              <li>Are lactose intolerant</li>
              <li>Do not consent to participate in the study</li>
              <li>Are underage or not officially participating in the event on the specified date (15 April 2018)</li>
            </ul>

            <h5 class="underline">DISCONTINUATION OF TRIAL TREATMENT</h5>
            <p>The investigator will supervise any discontinuation with your health as first priority.</p>

            <h5 class="underline">INSURANCE AND FINANCIAL ARRANGEMENTS</h5>
            <p>Ironman SA will provide payment for all trial procedures in the medical tent (Blood gases, etc.) relating to this research project. Medical equipment used in the medical tent will be supplied by the Ironman Medical Director. Neither you nor your medical scheme will be expected to pay for any study medication or trial procedures that relates to this research study.</p>
            <p>The University of Pretoria’s Public Liability and Professional Indemnity Cover is in place and confirmed for this research project, subject to the terms, Conditions, Exclusions and Extensions of the Policy wording.</p>
            <p>You will not be paid, or receive any incentives to participate in this research study.</p>
            <p>Our information to date is that it should not affect any life insurance policy taken out. Nevertheless, you are strongly advised to clarify same with the company concerned.</p>

            <h5 class="underline">SOURCE OF ADDITIONAL INFORMATION</h5>
            <p>For the duration of this research project, you will be under the care of Dr L Pieterse. If at any time during the research trial period in the Ironman medical tent any of your symptoms are causing you any problems, or you have any questions, please do not hesitate to contact her. The 24-hour telephone number is 0828829600, through which you can reach her or another authorized person.</p>

            <h5 class="underline">CONFIDENTIALITY</h5>
            <p>All information obtained during the course of this trial is strictly confidential.  Data that may be reported in scientific journals will not include any information which identifies you as a patient in this trial. </p>

            <h5 class="underline">INFORMED CONSENT</h5>
            <p>I hereby confirm that I have been informed by the investigator, Dr Lizanne Pieterse about the nature, conduct, benefits and risks of the research study:</p>

            <h5 style="text-decoration: underline; align-self: center;">
              The Comparison of Flavoured Milk Drink (Steri Stumpie) to Standard Care of Practice as a Recovery Intervention in Ironman Athletes in the Medical Tent
            </h5>

            <p>I have also received, read and understood the above written information (Patient Information Leaflet and Informed Consent) regarding the research trial.</p>
            <p>I am aware that the results of the trial, including personal details regarding my sex, age, date of birth, initials and diagnosis will be anonymously processed into a trial report.</p>
            <p>I am aware that my participation in this trial is entirely voluntary. I may, at any stage, without prejudice, withdraw my consent and participation in the trial. I have had sufficient opportunity to ask questions and (of my own free will) declare myself prepared to participate in the trial. I will not receive incentives to partake in this study.</p>

            <h5><b>Contact Details:</b></h5>
            <label>Dr Lizanne Pieterse</label><br>
            <label>dr.lizanne.pieterse@gmail.com</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="accept" value="true"> By ticking this box, I/we accept that I/we have read and acknowledge the above mentioned T&C's and give my consent to be part of this study.
            </label>
          </div>
          <%= f.submit "Register", :class=> "button"%>
          <i>Please tick all checkboxes before submitting. Your application will only be considered if you accept the tests and conditions</i>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>

<div class="copyright">
  <p>All Rights Reserved © Web design by Perfect Circle</p>
</div>




</body>
</html>
